@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
    --dark-background: #1e1e1e;
    --light-background: #fff;
}
html,
body {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    margin: 0px;
    overflow-x: hidden;
}

* {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
        background ease-in-out 0.5s;
}

.dark {
    background-color: var(--dark-background);
}
.light {
    background-color: var(--light-background);
}
#root {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
code,
a,
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation4 {
    position: relative;
    z-index: 4;
}
